<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="weather actuator">
    <meta name="author" content="Jo as Queeneibee">
    <meta name="author" content="Seiya Kobayashi">
    <title>Weather Actuator</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
  <div class="container" style="height: 100%;">
  <div class="row" style="height: 10%;">
    <!-- spacing row -->
  </div>
  <div class="row" style="height: 30%; text-align: center;">
    <h1>{{name}}</h1>
    <p>({{coord.lon}}, {{coord.lat}})</p>
    <h4>{{main.temp}}℃</h4>
  </div>
  <div class="row" style="height: 10%;">
    <div class="col-md-4">
      <!-- spacing column -->
    </div>
    <div class="col-md-4" style="text-align: center;">
      <h3>Select a city</h3>
      <form method="post" action="/actuator/">
        <select name="cityname">
          <option value="New York">New York</option>
          <option value="London">London</option>
          <option value="Tokyo">Tokyo</option>
        </select>
        <p style="padding-top: 8px;"><button type="submit">Actuate</button></p>
      </form>
    </div>
    <div class="col-md-4">
      <!-- spacing column -->
    </div>
  </div>
  <div class="row" style="height: 40%;">
    <!-- spacing row -->
  </div>
</div>


  </body>
  </html>

